<h1>Array</h1><br>
<ol>
    <li>Array adalah tipe data yang berisi kumpulan dari beberapa nilai.</li>
    <li>Nilai yang terdapat dalam array disebut dengan elemen, dan pada setiap elemen memiliki nomor pengenal yang dikenal dengan istilah indeks</li>
    <li>Penomoran indeks di dalam array dimulai dari angka 0, sehingga elemen pertama berada di index 0, elemen kedua berada di indeks 1, sehingga dapat disimpulkan bahwa elemen yang ke n berada pada indeks n-1</li>
</ol>

<h3>Ilustrasi Array</h3>
<img src="https://galuhratna.alza.web.id/blog/wp-content/uploads/2020/03/array1D-300x82.png"></img>

<h2>Operasi Array</h2><hr>

<h3>1. Membuat Array</h3>

In [ ]:
#import library array sebagai alias

import array as arr
arr_int = arr.array('i',[10,20,30,40,90,80])

print(arr_int)

array('i', [10, 20, 30, 40, 90, 80])

<h3>2. Mengakses Array</h3>

In [ ]:
pjg_array = len(arr_int)
print("elemen array terakhir:",arr_int[pjg_array-1])

#Looping mengakses nilai elemen tanpa mengetahui indeks
for i in arr_int:
    print(i)
print('--------------------------------')  
#looping mengakses nilai elemen dengan paramter indeks
total = 0
for j in range(pjg_array):
    total = total + arr_int[j]
    print(total)
rata2 = total / pjg_array
print(f"nilai rata-rata: {rata2}")

elemen array terakhir: 80
,10
,20
,30
,40
,90
,80
,--------------------------------
,10
,30
,60
,100
,190
,270
,nilai rata-rata: 45.0

<h3>3. Menambah Array</h3>

In [ ]:
posisi = 3
nilai = 66
arr_int.insert(posisi,nilai)
print(arr_int)

array('i', [10, 20, 30, 66, 40, 90, 80])

<h3>4. Mengupdate Array</h3>

In [ ]:
arr_int[0] = 80
print(arr_int)

array('i', [80, 20, 30, 66, 40, 90, 80])

<h3>5. Menghapus Array</h3>

In [ ]:
arr_int.remove(80)
print(arr_int)

arr_int.pop()
print(arr_int)

array('i', [20, 30, 66, 40, 90, 80])
,array('i', [20, 30, 66, 40, 90])

<h3>6. Mencari Array</h3>

In [ ]:
arr_int.index(30)

1

<h3>Latihan Soal</h3>

1. Sebuah kamar kost di daerah cisaat terdiri dari 1 lantai dan 10 kamar. Pemilik kost menandai kamar dengan tanda 'O' jika ada penghuninya dan tanda 'X' jika masih kosong. Reperesentasikan permasalahan tersebut dimana kamar yang sudah terisi adalah kamar 2,4,7 dan 9.

In [ ]:
#import library array

kamar=arr.array('u',[])
print(kamar)

kamar=arr.array('u',[])
for i in range(10):
  if i+1==2 or i+1==4 or i+1==7 or i+1==9:
    kamar.insert(i-1,'O')
  else:
    kamar.insert(i+1,'X')
print(kamar)

array('u')
,array('u', 'OXOXXOXOXX')

2. Berdasarkan soal 1, hitunglah berapa jumlah kamar yang masih kosong dan sebutkan kamar nomor berapa saja!

In [ ]:
#Your Code here
for i in kamar:
  
  nomor_yang_kosong=""
  jumlah=0
  for i in kamar:
    nomor -+=1
    if i==2 or i==2 or i==7 or i==9:
      kamar.insert(i-1,'O')
    else:
      kamar.insert(i-1,'X')
print(kamar)

3. Pada tahun 2022 pemilik kost ingin mengubah fungsi kamar kost menjadi rumah pribadi, sehingga kamar kost tersebut dirobohkan. Representasikan permasalahan tersebut kedalam fungsi array

In [13]:
def robohkan_kamar(kamar):
    print("Jumlah kamar sebelum dirobohkan:", len(kamar))
    kamar.clear()  # Hapus semua elemen
    print("Kamar telah dirobohkan:", kamar)
    return kamar

# Contoh penggunaan
kamar_kost = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
kamar_kost = robohkan_kamar(kamar_kost)

Jumlah kamar sebelum dirobohkan: 10
Kamar telah dirobohkan: []

4. Seorang penjual tahu menata raknya seperti berikut ini: <br>
[10,10,10,10,10,10,10,10,10,10]<br>
Setiap 1 tahu dijual dengan harga 1_000. Buatlah implementasi program yang mempunyai input uang dan jumlah tahu yang akan dibeli. Contoh input outputnya seperti berikut ini:<br>
input uang : 100_000<br>
jumlah tahu yang akan dibeli: 20<br>

Output:<br>
Total harga yang dibeli : 20_000<br>
Uang Kembali : 80_000<br>
Sisa Tahu : 80<br>
Posisi Akhir Rak : [0,0,10,10,10,10,10,10,10,10]

In [11]:
rak = [10] * 10
harga_tahu = 1000

uang = 100_000
jumlah_beli = 20

total_harga = jumlah_beli * harga_tahu

if uang < total_harga:
    print("Uang tidak cukup untuk membeli tahu sebanyak itu.")
else:
    sisa_beli = jumlah_beli
    for i in range(len(rak)):
        if sisa_beli == 0:
            break
        if rak[i] <= sisa_beli:
            sisa_beli -= rak[i]
            rak[i] = 0
        else:
            rak[i] -= sisa_beli
            sisa_beli = 0

    uang_kembali = uang - total_harga
    sisa_tahu = sum(rak)

    # Cetak hasil
    print(f"Total harga yang dibeli : {total_harga:_}".replace("_", "."))
    print(f"Uang Kembali : {uang_kembali:_}".replace("_", "."))
    print(f"Sisa Tahu : {sisa_tahu}")
    print(f"Posisi Akhir Rak : {rak}")

Total harga yang dibeli : 20.000
Uang Kembali : 80.000
Sisa Tahu : 80
Posisi Akhir Rak : [0, 0, 10, 10, 10, 10, 10, 10, 10, 10]